<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.block3.mappers.CityMapper">

    <select id="selectCityById" resultMap="com.solvd.block3.mappers.CityMapper.cityResultMap">
        select C.city_id, C.name as city_name, CO.country_id, CO.name
        from cities C
        join countries CO on C.country_id = CO.country_id
        where C.city_id = #{id}
    </select>

    <select id="selectCityByName" resultMap="com.solvd.block3.mappers.CityMapper.cityResultMap">
        select C.city_id, C.name as city_name, CO.country_id, CO.name
        from cities C
        join countries CO on C.country_id = CO.country_id
        where C.name = #{name}
    </select>

    <select id="selectCities" resultMap="com.solvd.block3.mappers.CityMapper.cityResultMap">
        select C.city_id, C.name as city_name, CO.country_id, CO.name
        from cities C
        join countries CO on C.country_id = CO.country_id
    </select>

    <insert id="insertCity">
        insert into cities (name, country_id)
        values (#{name}, #{country.countryId})
    </insert>

    <update id="updateCity">
        update cities set
        name = #{name},
        country_id = #{country.countryId},
        where city_id = #{cityId}
    </update>

    <delete id="deleteCity">
        delete from cities where city_id = #{cityId}
    </delete>

    <resultMap id="cityResultMap" type="com.solvd.block3.models.City" autoMapping="false">
        <id property="cityId" column="city_id"/>
        <result property="name" column="city_name"/>
        <association property="country" resultMap="com.solvd.block3.mappers.CountryMapper.countryResultMap"></association>
    </resultMap>

    <resultMap id="sourceCityResultMap" type="com.solvd.block3.models.City" autoMapping="false">
        <id property="cityId" column="source_city_id"/>
        <result property="name" column="source_city_name"/>
        <association property="country" resultMap="com.solvd.block3.mappers.CountryMapper.sourceCountryResultMap"></association>
    </resultMap>

    <resultMap id="destCityResultMap" type="com.solvd.block3.models.City" autoMapping="false">
        <id property="cityId" column="dest_city_id"/>
        <result property="name" column="dest_city_name"/>
        <association property="country" resultMap="com.solvd.block3.mappers.CountryMapper.destCountryResultMap"></association>
    </resultMap>
</mapper>