<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.block3.mappers.FlightMapper">

    <select id="selectFlightById" resultMap="flightResultMap">
        select 
            F.flight_id, F.price, A.airline_id, 
            A.name as airline_name, 

            SAP.airport_id as source_airport_id, SAP.name as source_airport_name, SAP.latitude as source_lat, SAP.longitude as source_long,
            C.city_id as source_city_id, C.name as source_city_name,
            CO.country_id as source_country_id, CO.name as source_country_name,

            DAP.airport_id as dest_airport_id, DAP.name as dest_airport_name, DAP.latitude as dest_lat, DAP.longitude as dest_long,
            C2.city_id as dest_city_id, C2.name as dest_city_name,
            CO2.country_id as dest_country_id, CO2.name as dest_country_name

        from flights F
        join airlines A on F.airline_id = A.airline_id

        join airports SAP on F.source_airport_id = SAP.airport_id 
        join cities C on SAP.city_id = C.city_id
        join countries CO on C.country_id = CO.country_id

        join airports DAP on F.destination_airport_id = DAP.airport_id 
        join cities C2 on DAP.city_id = C2.city_id
        join countries CO2 on C2.country_id = CO2.country_id

        where F.flight_id = #{id}
    </select>

    <select id="selectFlightByAirline" resultMap="com.solvd.block3.mappers.FlightMapper.flightResultMap">
        select 
            F.flight_id, F.price, A.airline_id, 
            A.name as airline_name, 

            SAP.airport_id as source_airport_id, SAP.name as source_airport_name, SAP.latitude as source_lat, SAP.longitude as source_long,
            C.city_id as source_city_id, C.name as source_city_name,
            CO.country_id as source_country_id, CO.name as source_country_name,

            DAP.airport_id as dest_airport_id, DAP.name as dest_airport_name, DAP.latitude as dest_lat, DAP.longitude as dest_long,
            C2.city_id as dest_city_id, C2.name as dest_city_name,
            CO2.country_id as dest_country_id, CO2.name as dest_country_name

        from flights F
        join airlines A on F.airline_id = A.airline_id

        join airports SAP on F.source_airport_id = SAP.airport_id 
        join cities C on SAP.city_id = C.city_id
        join countries CO on C.country_id = CO.country_id

        join airports DAP on F.destination_airport_id = DAP.airport_id 
        join cities C2 on DAP.city_id = C2.city_id
        join countries CO2 on C2.country_id = CO2.country_id

        where F.airline_id = #{id}
    </select>

    <select id="selectFlightBySourceAirport" resultMap="com.solvd.block3.mappers.FlightMapper.flightResultMap">
        select 
            F.flight_id, F.price, A.airline_id, 
            A.name as airline_name, 

            SAP.airport_id as source_airport_id, SAP.name as source_airport_name, SAP.latitude as source_lat, SAP.longitude as source_long,
            C.city_id as source_city_id, C.name as source_city_name,
            CO.country_id as source_country_id, CO.name as source_country_name,

            DAP.airport_id as dest_airport_id, DAP.name as dest_airport_name, DAP.latitude as dest_lat, DAP.longitude as dest_long,
            C2.city_id as dest_city_id, C2.name as dest_city_name,
            CO2.country_id as dest_country_id, CO2.name as dest_country_name

        from flights F
        join airlines A on F.airline_id = A.airline_id

        join airports SAP on F.source_airport_id = SAP.airport_id 
        join cities C on SAP.city_id = C.city_id
        join countries CO on C.country_id = CO.country_id

        join airports DAP on F.destination_airport_id = DAP.airport_id 
        join cities C2 on DAP.city_id = C2.city_id
        join countries CO2 on C2.country_id = CO2.country_id

        where F.source_airport_id = #{id}
    </select>

    <select id="selectFlightByDestinationAirport" resultMap="com.solvd.block3.mappers.FlightMapper.flightResultMap">
        select 
            F.flight_id, F.price, A.airline_id, 
            A.name as airline_name, 

            SAP.airport_id as source_airport_id, SAP.name as source_airport_name, SAP.latitude as source_lat, SAP.longitude as source_long,
            C.city_id as source_city_id, C.name as source_city_name,
            CO.country_id as source_country_id, CO.name as source_country_name,

            DAP.airport_id as dest_airport_id, DAP.name as dest_airport_name, DAP.latitude as dest_lat, DAP.longitude as dest_long,
            C2.city_id as dest_city_id, C2.name as dest_city_name,
            CO2.country_id as dest_country_id, CO2.name as dest_country_name

        from flights F
        join airlines A on F.airline_id = A.airline_id

        join airports SAP on F.source_airport_id = SAP.airport_id 
        join cities C on SAP.city_id = C.city_id
        join countries CO on C.country_id = CO.country_id

        join airports DAP on F.destination_airport_id = DAP.airport_id 
        join cities C2 on DAP.city_id = C2.city_id
        join countries CO2 on C2.country_id = CO2.country_id

        where F.destination_airport_id = #{id}
    </select>

    <select id="selectFlights" resultMap="com.solvd.block3.mappers.FlightMapper.flightResultMap">
        select 
            F.flight_id, F.price, A.airline_id, 
            A.name as airline_name, 

            SAP.airport_id as source_airport_id, SAP.name as source_airport_name, SAP.latitude as source_lat, SAP.longitude as source_long,
            C.city_id as source_city_id, C.name as source_city_name,
            CO.country_id as source_country_id, CO.name as source_country_name,

            DAP.airport_id as dest_airport_id, DAP.name as dest_airport_name, DAP.latitude as dest_lat, DAP.longitude as dest_long,
            C2.city_id as dest_city_id, C2.name as dest_city_name,
            CO2.country_id as dest_country_id, CO2.name as dest_country_name

        from flights F
        join airlines A on F.airline_id = A.airline_id

        join airports SAP on F.source_airport_id = SAP.airport_id 
        join cities C on SAP.city_id = C.city_id
        join countries CO on C.country_id = CO.country_id

        join airports DAP on F.destination_airport_id = DAP.airport_id 
        join cities C2 on DAP.city_id = C2.city_id
        join countries CO2 on C2.country_id = CO2.country_id
    </select>

    <insert id="insertFlight">
        insert into flights (airline_id, source_airport_id, destination_airport_id, price)
        values (#{airline.airlineId}, #{sourceAirport.airportId}, #{destinationAirport.airportId}, #{price})
    </insert>

    <update id="updateFlight">
        update flights set
        airline_id = #{airline.airlineId},
        source_airport_id = #{sourceAirport.airportId},
        destination_airport_id = #{destinationAirport.airportId},
        price = #{price}
        where flight_id = #{flightId}
    </update>

    <delete id="deleteFlight">
        delete from flights where flight_id = #{flightId}
    </delete>

    <resultMap id="flightResultMap" type="com.solvd.block3.models.Flight" autoMapping="false">
        <id property="flightId" column="flight_id"/>
        <result property="price" column="price"/>
        <association property="airline" resultMap="com.solvd.block3.mappers.AirlineMapper.airlineResultMap"/>
        <association property="sourceAirport" resultMap="com.solvd.block3.mappers.AirportMapper.sourceAirportResultMap"/>
        <association property="destinationAirport" resultMap="com.solvd.block3.mappers.AirportMapper.destAirportResultMap"/>
    </resultMap>
</mapper>